html, body {
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1vw;
}

/* NAVBAR SECTION */

nav {
    position: relative;
    margin: 8px;
    z-index: 10;
}

nav img {
    position: relative;
    width: 15%;
    height: auto;
}

nav input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 50%;
    font-size: 1.3vw;
}

.btn-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    height: 70%;
    width: 24%;
}

nav button {
    float: left;
    height: 100%;
    width: 40%;
    margin: 0 5%;
    background-color: brown;
    border: none;
    border-radius: 20%;
    color: white;
    /* font-weight: bold; */
    text-align: center;
    font-size: 1.5vw;
}

nav button:hover {
    background-color: rgb(117, 28, 28);
}

/* HERO SECTION */

.hero {
    position: relative;
    line-height: .3em;
    font-size: 1.5vw;
    height: 25vw;
    background-image: url("../pics/keyboard.jpg");
    background-position: bottom;
    background-size: cover;

}

#herobody {
    position: absolute;
    left: 20%;
    bottom: 0;
}

#herobody p {
    font-size: 1.2vw;
    font-weight: bold;
}

#herobody > img {
    position: relative;
    bottom: 1.3vw;
    width: 10vw;
}

/* MAIN SECTION */

.content {
    position: relative;
    float: left;
    width: 100%;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding-bottom: 25px;
}

.content h1 {
    font-size: 3.5vw;
    text-shadow: .2vw .2vw .1vw grey;
}

.cards {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.card {
    display: inline-block;
    vertical-align: top;
    height: 15vw;
    background-color: rgb(1, 66, 80);
    width: 25%;
    border-radius: 5%;
    font-size: 1.3vw;
}

.card:not(:last-child) {
    margin-right: 2.5vw;
}

.cardcontent {
    position: relative;
    height: 100%;
    width: 80%;
    margin: auto;
    line-height: .3vw;
}

.card button {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);
    height: 15%;
    width: 50%;
    font-size: 1vw;
}

/* FOOTER SECTION */

footer {
    clear: both;
    padding-top: 1.5vw;
    width: 100%;
    text-align: center;
}

footer img{
    width: 10vw;
}

.footerlinks a {
    color: bisque;
}

.footerlinks a:hover {
    color: rgb(255, 209, 154);
}

.footerlinks a:not(:last-child) {
    margin-right: 1vw;
}

.footnote {
    font-style: italic;
}