.content img {
    height: 250px;
    width: 250px;
}

h2 {
    margin-top: 5vw;
}

/* CUBE */

.scene-cube {
    height: 250px;
    width: 250px;
    margin: 5vw auto;
    perspective: 750px;
    text-align: left;
    /* border: 1px solid red; */
}

.cube {
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    animation: rotate 20s infinite;
    -webkit-animation: rotate 20s infinite;
}

.cube img {
    position: absolute;
    background: white;
    opacity: .9;
}

.cube img:nth-child(1) {
	transform: rotateY(0deg) translateZ(125px);
}

.cube img:nth-child(2) {
	transform: rotateY(90deg) translateZ(125px);
}

.cube img:nth-child(3) {
	transform: rotateY(-90deg) translateZ(125px);
}

.cube img:nth-child(4) {
	transform: rotateY(180deg) translateZ(125px);
}

.cube img:nth-child(5) {
	transform: rotateX(90deg) translateZ(125px);
}

.cube img:nth-child(6) {
	transform: rotateX(90deg) translateZ(-125px);
}

@keyframes rotate {
	0% { transform: rotateY(0deg); }		
	25% { transform: rotateY(90deg); }		
	50% { transform: rotateY(180deg);}	
	75% {  transform: rotateY(270deg); }	
	100% { transform: rotateY(360deg); }
}

@-webkit-keyframes rotate {
	0% { transform: rotateY(0deg); }		
	25% { transform: rotateY(90deg); }		
	50% { transform: rotateY(180deg);}	
	75% {  transform: rotateY(270deg); }	
	100% { transform: rotateY(360deg); }
}

/* CAROUSEL */

.carousel {
    max-width: 750px;
    margin: auto;
    position: relative;
    display: flex;
    overflow: hidden;
}

.carousel::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
      to right,
      #fff,
      rgba(255, 255, 255, 0) 80px,
      rgba(255, 255, 255, 0) calc(100% - 80px),
      #fff
    );
}
  
.carousel-image {
    width: 250px;
    height: 250px;
    background: white;
    display: inline-block;
    margin: 0 1vw;
}

.track {
    display: flex;
    animation: marquee 20s linear infinite;
    -webkit-animation: marquee 20s linear infinite;
}
  
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}